{% extends 'navigation.html' %}
{% load static %}
{% block body %}



<div style="background-color : green ; width : 100% ; height:100px">
        <h2 class="text-center text-white container pt-3">Scope and Career opportunities after B.tech(CSE)</h2>
</div>


<div class="container">
         <img src="{% static 'images\op.jpg'%}"  style="width:100%; height:100px" >

    <hr>
    <h2><center><b><u>Educational Career</u></b></center></h2>
    <br>
    <h5>First, we’ll start with the higher educational opportunities in Computer Science.....</h5>
<br>
    <h6><b>1.M.Tech/M.S.</b> </h6>  – This is one of the best options for aspirants who want to pursue higher studies in the field. Usually, M.Tech is a 2-year long course, M.S. is a 3-year long course. After completing M.Tech/M.Sc in Computer Engineering, you can either apply for jobs or enter the research field (Ph.D.).
<br>
<br>
<h6><b>2.Ph.D.</b></h6> – After M.Tech, you can directly enrol in a Ph.D. program. This is an excellent choice for students who are interested in research in the field. Usually, Ph.D. programs are a 5-year integrated course involving two years of course and a minimum of three years of research work.
<br>
    <br>
    <h6><b>3.Dual degree (M.Tech + Ph.D.) </b></h6> – This is actually quite similar to Ph.D. The only difference is that a dual degree gives you both M.Tech and Ph.D. degrees.
<br>
    <br>
    <h6><b>4.Postgraduate Diploma in Data Science/Business Analytics</b></h6> – Data Science and its related technologies like Artificial Intelligence, Machine Learning, and Deep Learning are some of the hottest trending fields in the industry right now. Also, Business Analytics is an emerging domain that is growing parallelly to Big Data and Data Science. A postgraduate degree, either in Data Science/Business Analytics, is best suited for those who wish to enter the Data Science and Big Data domains.
<br>
    <br>
    <h6><b>5.MBA</b></h6> – An MBA course is best suited for aspirants who are inclined towards business management. You can pursue an MBA degree either from India or from foreign universities.
<br>
    <br>
Pursuing higher education after completing Computer Engineering will further solidify your career prospects. Most companies and organizations allot a higher salary scale for candidates who have advanced degrees in their field. Plus, there always remains an option for entering academia or research field.

     <hr>
    <h2><center><b><u>Career in IT Industry</u></b></center></h2>
    <br>
    IT industry in India is booming with the advancement in technology. Many IT companies, having recruited students from various institutes of repute, find the need to provide training to these new recruits, for a certain amount of time and with specific skills, to perform in their work environment. This includes companies such as Infosys Ltd., which runs the Campus Connect program, Wipro and Tata Consultancy Services, to name a few.
<br>
    <br>
    <h5>Top job Profiles for B.Tech Cse Graduates in IT Industry...</h5>
    <h6>1.Website development</h6>
    <h6>2.App development</h6>
    <h6>3. Software Engineer</h6>
    <h6>4.Software testing</h6>
    <h6>5.Software quality assurance</h6>
    <h6>6.Database administration</h6>
    <h6>7.Data science</h6>
    <h6>8.Research</h6>

<hr>
    <h2><center><b><u>Career as an Entrepreneur</u></b></center></h2>
    <br>

    <p>As a young entrepreneur, a B.Tech CSE graduate can go for establishing a startup, which is based on a new invention, a patent or an innovation, in the areas of Artificial Intelligence, Internet of Things, Big Data Analytics, Security and Cryptography, Database Management, Quantum Computing, Mobile Computing, and so on.  The Government of India today supports new startups by providing seed money for establishing them.</p>


  <hr>
    <h2><center><b><u>Career in Teaching</u></b></center></h2>
    <br>
<p>Teaching is another good option for a B.Tech student after he completes the minimum qualifications for becoming a teacher. A school teacher in computer science must have a graduation degree, and/or a master’s degree and the Bachelor of Education (B.Ed) degree. A college/university job begins at the level of an Assistant Professor, for which the University Grants Commission (UGC) has laid down the minimum qualification to be a Ph.D. degree following a graduate and a master’s degree.

A career in research demands the ability to think innovatively on original ideas. This career option also requires a Ph.D. degree although the option does not restrict a B.Tech graduate from doing research. Research related jobs are also available in the IT industry in large organizations, which invest in new and innovative ideas. The latest directions of research in computer science include robotics, machine learning, e-waste management as a part of green computing, Blockchain, Security, Big Data, the Internet of Things, besides others.

    Thus, overall there are multiple career options available for a B.Tech graduate in Computer Science and Engineering.</p>


    <hr>
    <h2><center><b><u>Career as Startup</u></b></center></h2>
    <br>
    <p>The students also can choose to open up their consultancy firms after passing out the B.Tech degree in computing. It takes tons of challenging mentality to start a firm or a business and help others while making a substantial earning. It is understood that about 5% of the entire computing engineering pass-outs begin with their firms.

Uniqueness
Starting a firm or a business within the dimension of computing is one of the first fruitful options, albeit unconventional. Numerous people flock towards the Consultants to unravel the issues. So, it’ll be a lucrative career opportunity for students completing B-tech in computer science.
    </p>


{% endblock%}