{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div style="background-color : green ; width : 100% ; height:100px">
        <h2 class="text-center text-white container pt-3">Contact Us</h2>
</div>


<div class="container mt-5">
       <div class="row">
           <div class="col-sm-6">
               <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="450" id="gmap_canvas" src="https://maps.google.com/maps?q=niit%20najibabad%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="2" marginwidth="2"></iframe><a href="https://embedgooglemap.net/maps/76"></a><br><style>.mapouter{position:relative;text-align:right;height:350px;width:300px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
           </div>

           <div class="col-sm-6"  >
               <p>&nbsp &nbsp &nbsp &nbsp &nbsp <i class="fas fa-envelope"></i><b>Email ID : akshitanbd123@gmail.com</p>
                <p>&nbsp &nbsp &nbsp &nbsp &nbsp <i class="fas fa-phone-square"></i><b>Contact: +111111111111</p>
                <p>&nbsp &nbsp &nbsp &nbsp &nbsp <i class="fas fa-address-card"></i><b>Address:NIIT 7th KM BUNDAKI ROAD NAJIBABAD, 246763</p>
                <p>&nbsp &nbsp &nbsp &nbsp &nbsp <i class="fas fa-clock"></i><b>Timing: 9:30am-4:30pm</p>
               <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <b>Follow Us...........</p>
               <a href="https://www.facebook.com/niit480" target="_blank" >&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<i class="fab fa-facebook-f"></i></a>
               <a href="https://www.instagram.com/niit480" target="_blank" ><i class="fab fa-instagram pl-5"></i></a>
               <a href="https://twitter.com/@NorthIndiaInst1" target="_blank"" ><i class="fab fa-twitter pl-5"></i></a>
               <a href="https://www.linkedin.com/North India Institute of Technology" target="_blank" ><i class="fab fa-linkedin pl-5"></i></a>



           </div>

       </div>


</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h4 class="text-center">Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>

{% endblock %}